################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/compjson/v16
*.sln
*.vcxproj
/compjson.vcxproj.filters
/compjson.vcxproj.user
